@import url('https://fonts.googleapis.com/css?family=Dancing+Script|Jomolhari&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lobster&display=swap');
body {
  background-color: rgba(0,0,0,.74);
  background-image: url("Stephanie_Porter_Overlay.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

a {
  text-decoration: none;
}

* {
  color: #ECE9E2;
}

h1, .items {
  font-family: 'Dancing Script', cursive;
}

select, input, textarea, option, .black {
  color: black;
}

form > select, div > select, div > input, textarea {
  border: 2px solid #b7a57a;
  border-radius: 5px;
}

#choose {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

#name {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

#options, #tab {
  transition: all 500ms linear;
}

#separator {
  width: 70%;
}

#tab {
  top: 0;
  left: 0;
  width: 15vw;
  overflow: hidden;
  background-color: #262523;
}

#options {
  position: absolute;
  left: 15.5vw;
  top: 3vh;
  z-index: 1;
}

#list {
  margin-top: 0;
  list-style-type: none;
  padding-left: 0;
}

#centerImage {
  margin-top: 5%;
}

#col, .vertical {
  align-items: center;
}

#category, #textBox {
  width: 100%;
}

#textBox {
  height: 15vh;
}

#centerImage, #portrait, .widthHeightScale, .events {
  max-width: 50%;
  max-height: 50%;
}

#tab, #prefix, .center, .events, .formProperties, .vertical {
  display: flex;
}

#aboutSeparator, .hitGet, .events {
  width: 50%;
}

#social {
  right: 1vw;
  bottom: 0;
}

#portrait {
  border: 5px solid #b7a57a;
}

#col, .vertical {
  flex-direction: column;
}

#contact {
  width: 75%;
}

#email {
  width: 35vw;
}

#name {
  width: 33vw;
}

#social > a {
  display:block;
  padding-bottom: 3vh;
  font-size: 3vh;
  text-align: center;
}
#social, #tab {
  position: fixed;
}

#tab, .icons {
  height: 100%;
}

#options, .hitGet {
  cursor: pointer;
}

.events, #portrait {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #ECE9E2;
}

.hitGet, .divide {
  height: 5vh;
}

.divide {
  margin-bottom: 2%;
}

.items {
  padding-top: 5%;
  padding-bottom: 5%;
  padding-left: 15%;
  width: 110%;
  font-size: 2vw;
  border-bottom: 1px solid white;
}

.icons {
  width: 7vw;
  min-width: 75px;
}

.active, hr {
  background-color: #b7a57a;
}

.formProperties {
  justify-content: space-between;
  max-height: 68.45px;
}

#prefix, .center {
  justify-content: center;
}

.hidden, #tab.hidden {
  width: 0;
}

.move, #options.move {
  left: 0.5vw;
}

.icons {
  padding-right:10px;
}

.events {
  border: 5px solid #f28864;
  margin-bottom: 10px;
  height:50%;
}

.hitGet {
  background-color: transparent;
  border: 2px solid #f06d41;
  font-size: 150%;
  font-family: 'Lobster';
}

.black {
  font-family: 'Jomolhari';
}

.gallery {
  margin: 1vw;
  border: 1px solid #ccc;
  width: 180px;
}

.gallery:hover {
  border: 1px solid #777;
}

.gallery img {
  width: 100%;
  height: auto;
}

#tab li:hover:not(.active) {
  color: white;
  background-color: #555;
}
