@import url('https://fonts.googleapis.com/css?family=Dancing+Script|Jomolhari&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lobster&display=swap');

@media only screen and (max-width: 760px) {
  #options {
    left: 72%;
  }
}

@media only screen and (max-width: 1000px) {
  .musicList {
    align-items: center;
    flex-direction: column;
  }
}

@media only screen and (max-width: 760px) {
  #tab {
    width: 70%;
  }

  .items > a {
    font-size: 20pt;
  }
}

@media only screen and (min-width: 760px) and (orientation: portrait) {
  #options {
    left: 15.5vh;
  }

  #tab {
    width: 15vh;
  }

  .items > a {
    font-size: 2vh;
  }
}

@media only screen and (min-width: 760px) and (orientation: landscape) {
  #options {
    left: 15.5vw;
  }

  #tab {
    width: 15vw;
  }

  .items > a {
    font-size: 2vw;
  }
}

main {
  background-image: url("images/Stephanie_Porter_Overlay.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 100%;
  min-width: 100%;
  position: absolute;
  width: 20%;
}

main, div {
  width: 20%;
}

a {
  text-decoration: none;
}

* {
  color: #ECE9E2;
}

body, main {
  background-color: rgba(0,0,0);
}

h1, .items {
  font-family: 'Dancing Script', cursive;
}

li > a {
  display: block;
}

img {
  width: 100%;
}

#tab, main {
  top: 0;
  left: 0;
}

#options, #tab {
  transition: all 500ms linear;
}

#tab {
  background-color: #262523;
  overflow: hidden;
  position: fixed;
  height: 100%;
}

#options {
  position: absolute;
  top: 27px;
  z-index: 1;
}

#list {
  margin-top: 0;
  list-style-type: none;
  padding-left: 0;
  overflow-x: hidden;
  width: 100%;
}

#tab, .musicList, .center, h1{
  display: flex;
}

#options {
  cursor: pointer;
}

.items > a {
  padding-top: 5%;
  padding-bottom: 5%;
  padding-left: 15%;
  border-bottom: 1px solid white;
}

.active, hr {
  background-color: #b7a57a;
}

.center {
  justify-content: center;
}

.hidden, #tab.hidden {
  width: 0;
}

.move, #options.move {
  left: 8px;
}

.musicList {
  justify-content: space-around;
  margin-top: 2%;
  margin-bottom: 2%;
}

.spotify {
  min-width: 30px;
  max-height: 80px;
  width: 100%;
}

div {
  min-width: 300px;
}

#tab a:hover:not(.active) {
  color: white;
  background-color: #555;
}
